.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    
  
}



h1{
    color: rgb(77, 1, 77);
    text-align: center;
}
 .d1{margin: 0px 10px;}
.d2{ margin: 10px 46px;}
.d3{margin: 10px 15px;}
.d4{margin: 10px 102px;}
.d5{margin: 10px 42px;}
.btn{margin: 10px 120px;}
#form{
    border: 2px solid black;
    margin: 54px 52px;
    padding: 68px 101px;
    background-color: aqua
}
#bckGround{
    background-image: url("./unnamed.png");
    height: 100vh;
}

